meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Plan de comunicaci칩n
meta(meta name="description" content="Un plan de comunicaci칩n como cualquier otro plan requiere la implementaci칩n de estrategias y acciones que lleven al cumplimiento de los objetivos propuestos, los cuales ya se han analizado en temas anteriores y deben tener dos tipos de enfoque: en los medios y en el mensaje. Por ende, en este plan se determinar치n las actividades que una empresa debe realizar para el cumplimiento de dichos objetivos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")