h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Desarrollar prototipo de diseño mediante los recursos técnicos y tecnológicos según la retroalimentación y aprobación del cliente.