.container
    .header-ecored
        h1 1. Producción gráfica

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/tema_1/img_3.png").img-fluid
            .col-12.col-md-5
                p.line_recua La producción gráfica es el proceso mediante el cual se lleva a cabo la creación e implementación de diversas piezas a nivel visual. 

                p A través del uso y manejo de herramientas tecnológicas, pasando por numerosas fases que van desde el proceso de investigación y creación, hasta llegar a los medios impresos como libros, revistas, catálogos, carteles, folletos, periódicos y demás. Su funcionalidad como medio de difusión en el ámbito de las artes gráficas, el diseño y la publicidad, es el de dar a conocer de manera eficaz y asertiva una marca, un producto o un servicio, haciendo que se destaque sus principalmente características y bondades, para llevarlo a ser conocido y competitivo en el mercado.


        .sub-ecored.mt-5#tema1_1
            h2 1.1. Software vectorial

        img.img-a(src="assets/images/pages/tema_1/img_4.png").img-fluid

        .row.justify-content-center.align-items-center.mt-5 
            .col-8 
                hr.border-color-primary
                p.text-center Un software vectorial es aquel que permite la creación y edición de gráficos por medio de vectores, líneas que se pueden, modificar para crear dibujos, ilustraciones, logotipos, tipografías y demás.
        hr.border-color-primary

        p.mt-5.color_text.text-center #[strong Ejemplos]

        .row.justify-content-center.align-items-center
            .col-4.col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_5.png").img-fluid
            .col-4.col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_6.png").img-fluid
            .col-4.col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid

        .row.justify-content-center.align-items-center.mt-5 
            .col-8 
                hr.border-color-primary
                p.text-center Para una mejor comprensión es importante definir qué es una imagen vectorial y qué es una imagen de mapas de bits, sus diferencias, manejos y usos.

        .jumbotron.jumbo_yel.mt-5
            .row.justify-content-center.align-items-center
                .col-6.col-md-4 
                    h2 Imagen vectorial 

                .col-6.col-md-8
                    p Una imagen vectorial es aquella realizada por medio de vectores, objetos definidos a partir de puntos unidos por líneas que forman figuras geométricas, para realizar dibujos, ilustraciones, logotipos, etc.

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_8.png").img-fluid

        .row.justify-content-center.mt-6
            .col-4.col-md-4
                .jumbotron.jumbo_blue 
                    p.titulos_p Imagen mapa #[br]de bits
                p La imagen de mapa de bits es una imagen conformada por pequeños puntos de color llamados píxeles, cada uno contiene un color y ciertas características. A mayor cantidad de puntos se obtiene una mayor resolución y a menor cantidad de estos una baja en la calidad de imagen. Estas imágenes son las que generalmente conocemos como fotografías y están representadas por dos números que simbolizan la cantidad de puntos a lo largo y ancho, por ejemplo 1280 x 720.
            .col-4.col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_9.png").img-fluid
            .col-4.col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_10.png").img-fluid
        
        hr.border-color-primary.mt-6
        .row.justify-content-center.align-items-center.mt-5 
            .col-8 
                
                p.text-center A continuación, se presenta un cuadro comparativo para imagen vectorial e imagen mapa de bits. 

        .row.justify-content-center.mt-5 
            .col-6.col-md-5
                img(src="assets/images/pages/tema_1/img_11.png").img-fluid
                p.mt-5.text_blue Es una imagen realizada por medio de vectores. 
                p La imagen vectorial no depende de la resolución, su calidad siempre se mantiene. 
                p.text_blue La imagen vectorial se puede agrandar o contraer y no pierde calidad.  
                p Las imágenes vectoriales ocupan muy poco espacio.
                p.text_blue Son imágenes destinadas a la representación gráfica de elementos. 
                p Mantienen su calidad y aspecto. 
                p.text_blue Generalmente se utilizan programas como CorelDraw o Illustrator, ya que son programas para dibujar y no para retocar.  
                p En Illustrator, se pueden realizar piezas como carteles, logotipos, dibujos, ilustraciones, aplicaciones, papelería, bocetos etc. 
            .col-6.col-md-5
                img(src="assets/images/pages/tema_1/img_12.png").img-fluid
                p.mt-5 Su captura se hace por medios tecnológicos como cámaras fotográficas, video y celulares. 
                p.text_blue Dependen de la resolución.
                p La calidad de la imagen fotográfica depende del número de píxeles por la cual este compuesta, por esto perderá calidad si aumentamos o disminuimos su tamaño, en proporciones fuera de su rango.   
                p.text_blue A mayor resolución, mayor peso.
                p Su ventaja principal, es el realismo con el cual se ve la imagen. 
                p.text_blue Van perdiendo calidad cada vez que se guardan o modifican. 
                p Se utiliza Photoshop, ya que buscamos retocar la imagen para un mejor resultado. 
                p.text_blue En Photoshop se retocan imágenes para restaurar, modificar o cambiar la apariencia. De igual manera es posible realizar piezas publicitarias. 


        .sub-ecored.mt-5#tema1_1_1 
            h3 1.1.1. Interfaz y área de trabajo

            .row.justify-content-center.mt-5 
                .col-6.col-md-5
                    p.tamano_text #[strong Illustrator,] es un programa informático utilizado en la creación y edición de imágenes vectoriales.
                .col-6.col-md-5
                    p Constituye una herramienta para el trabajo profesional del diseñador; hace parte de las tecnológicas distribuidas por Adobe Systems. A continuación, se relacionan los pasos necesarios para utilizar esta aplicación: 

            .row.justify-content-center.mt-5 
                .col-auto 
                    img(src="assets/images/pages/tema_1/img_13.png").img-fluid    
                .col-6.col-md-6
                    p Para empezar a trabajar en Illustrator, abra el programa en su equipo; estando en el programa, vaya a la parte superior izquierda, despliegue el comando #[strong Archivo], y seleccione #[strong Nuevo], para abrir un documento. 
            .row.justify-content-center.mt-5 
                .col-auto 
                    img(src="assets/images/pages/tema_1/img_14.png").img-fluid    
                .col-6.col-md-6
                    p Al dar clic en #[strong Nuevo], se abre el siguiente recuadro en donde dará las instrucciones para configurar el documento, como el tamaño, la cantidad de mesas de trabajo o espacio que se van a utilizar, el nombre entre otros. 

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_15.png").img-fluid

            .row.justify-content-center.mt-5 
                .col-6.col-md-5
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Nombre:] dele un nombre a su documento.
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Perfil:] el perfil hace referencia al modo de salida del trabajo, si es para imprimir, para la web, una aplicación, etc. generalmente se selecciona para imprimir. 

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Número de mesas de trabajo:] refiere a la cantidad de mesas de trabajo que vamos a utilizar (áreas para preparar los diseños).

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Espaciado:] espacio entre caracteres
                            
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Columnas:] número de columnas, esto en caso de ser utilizadas.

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Sangrado:] seleccione el sangrado a utilizar en los 4 costados, si es necesario. Finalmente haga clic en “OK,” para comenzar a trabajar. 

                     
                .col-6.col-md-5
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Área de recorte:]  es el tamaño del formato a utilizar, carta, legal, tabloide, etc.
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Anchura y altura:] en caso de querer utilizar un formato de tamaño diferente a los que se presentan en el icono anterior, puede de manera manual introducir las medidas del formato en el cual desea trabajar. 

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Unidades:] aquí el programa nos da la opción de seleccionar diferentes unidades de medida como milímetros, centímetros, picas, pixeles. Es recomendable desde el inicio seleccionar centímetros, que es la medida en la cual se trabajo en nuestro medio. 

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_16.png").img-fluid   
                        .col 
                            p #[strong Orientación:] haga clic sobre el tipo de orientación que desea utilizar, vertical u horizontal. 


            p.mt-5.color_text.text-center #[strong Interfaz]

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_17.png").img-fluid

            .row.justify-content-center.mt-5 
                .col-6.col-md-5
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_18.png").img-fluid   
                        .col 
                            p #[strong Menú principal:] la barra en el extremo superior es la barra de menú, desde aquí podrá acceder a diferentes opciones de menú, como archivo, edición, objeto, texto, entre otros. 

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_19.png").img-fluid   
                        .col 
                            p #[strong Opciones de herramienta:] aquí se abren diferentes opciones para cada herramienta que utilizamos, por el ejemplo propiedades de color, grosor y forma.

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_20.png").img-fluid   
                        .col 
                            p #[strong Paneles flotantes:] Son paneles en donde podrá visualizar las propiedades de las herramientas que está utilizando. 

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_21.png").img-fluid   
                        .col 
                            p #[strong Panel de control:] en esta pestaña se visualizan los diferentes controles de las herramientas seleccionadas.

                .col-6.col-md-5
                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_22.png").img-fluid   
                        .col 
                            p #[strong Barra de herramientas:] el panel alargado que observa en la imagen de la derecha es el panel de herramientas, ahí puede ver en forma de íconos todas las herramientas disponibles en Illustrator.

                            p Algunas de ellas tienen un pequeño triángulo en su esquina inferior derecha, este es el indicador de que hay un grupo de herramientas ocultas. Si posiciona el cursor sobre alguno de estos iconos y lo mantiene pulsado un instante, se desplegará la lista de herramientas pertenecientes al grupo. 

                    .row.justify-content-center
                        .col-auto 
                            img(src="assets/images/pages/tema_1/img_23.png").img-fluid   
                        .col 
                            p #[strong Mesas de trabajo:] es el espacio de trabajo, que en Illustrator llamaremos mesas de trabajo.

            p.mt-5.text-center El siguiente video le permitirá conocer la interfaz de usuario de Illustrator. 

            section.my-5

                a(href="https://youtu.be/L1wJVGV_fwI" target="_blank")      
    
                    img.img-a(src="assets/images/pages/tema_1/img_24.png", alt="").img-fluid

        .sub-ecored.mt-5#tema1_1_2 
            h3 1.1.2. Herramientas de selección

        .row.justify-content-center.mt-5
            .col-4.col-md-3  
                img.img-a(src="assets/images/pages/tema_1/img_25.png", alt="").img-fluid
            .col-4.col-md-5
                h2 Herramienta selección.
                p Permite seleccionar objetos y grupos haciendo clic sobre ellos o arrastrándolos.  
            .col-4.col-md-4  
                img.img-a(src="assets/images/pages/tema_1/img_26.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-5
            .col-4.col-md-3  
                img.img-a(src="assets/images/pages/tema_1/img_27.png", alt="").img-fluid
            .col-4.col-md-5
                h2 Herramienta selección directa.
                p Permite seleccionar puntos de ancla o segmentos de trazado individuales haciendo clic en ellos, o seleccionar un trazado o grupo entero haciendo clic en cualquier otra parte del elemento. También puede seleccionar uno o varios objetos de un grupo de objetos.
            .col-4.col-md-4  
                img.img-a(src="assets/images/pages/tema_1/img_28.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-5
            .col-4.col-md-3  
                img.img-a(src="assets/images/pages/tema_1/img_29.png", alt="").img-fluid
            .col-4.col-md-5
                h2 Selección de grupos, herramienta.
                p Permite seleccionar un objeto dentro de un grupo, un único grupo dentro de varios grupos o un conjunto de grupos dentro de la ilustración. Cada clic adicional añade todos los objetos del siguiente grupo de la jerarquía.
            .col-4.col-md-4  
                img.img-a(src="assets/images/pages/tema_1/img_30.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-5
            .col-4.col-md-3  
                img.img-a(src="assets/images/pages/tema_1/img_31.png", alt="").img-fluid
            .col-4.col-md-5
                h2 Herramienta lazo.
                p Permite seleccionar objetos, puntos de ancla o segmentos de trazado al arrastrarla alrededor de todo el objeto o de parte de este, generalmente se guía por las gamas de color.
            .col-4.col-md-4  
                img.img-a(src="assets/images/pages/tema_1/img_32.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-5
            .col-4.col-md-3  
                img.img-a(src="assets/images/pages/tema_1/img_33.png", alt="").img-fluid
            .col-4.col-md-5
                h2 Varita mágica.
                p Permite seleccionar objetos del mismo color, grosor de trazo, color de trazo, opacidad o modo de fusión haciendo clic en el objeto.
            .col-4.col-md-4  
                img.img-a(src="assets/images/pages/tema_1/img_34.png", alt="").img-fluid
        
        p.mt-5.text-center El siguiente video le permitirá conocer la interfaz de usuario de Illustrator. 

        section.my-5

            a(href="https://youtu.be/5JkAgpeyVIc" target="_blank")      

                img.img-a(src="assets/images/pages/tema_1/img_35.png", alt="").img-fluid


        .sub-ecored.mt-5#tema1_1_3
            h3 1.1.3. Herramientas de dibujo

        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            h2.mb-0.collapsable-title Pluma
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-5
                            .col-12.col-md-6
                                p Se pueden crear curvas añadiendo un punto de ancla donde la curva cambie de dirección y arrastrando la línea hacia la dirección que forme la curva. Las curvas son fáciles de modificar si se las dibuja utilizando la menor cantidad de puntos de ancla posibles.

                                p.tamano_text.mt-5 Para salir del trazado con la pluma, presione las teclas CTRL + ALT y haga clic fuera de la figura que esta trazando.
                            .col-12.col-md-6
                                .row.justify-content-center
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_36.png", alt="").img-fluid
                                    .col 
                                        p #[strong Pluma:] permite dibujar un trazado, haciendo puntos de ancla.

                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_37.png", alt="").img-fluid
                                    .col 
                                        p #[strong Añadir punto de ancla:] agrega nodos o puntos a un trazado. 

                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_38.png", alt="").img-fluid
                                    .col 
                                        p #[strong Eliminar punto de ancla:] quita nodos o puntos a un trazado. 

                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_39.png", alt="").img-fluid
                                    .col 
                                        p #[strong Punto de ancla:] convierte curvas en ángulos, y ángulos en curvas.              
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            h2.mb-0.collapsable-title Curvatura
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-3
                            .col-auto 
                                img(src="assets/images/pages/tema_1/img_40.png", alt="").img-fluid
                            .col-md-8 
                                p #[strong Curvatura:] la herramienta curvatura funciona de manera similar que la pluma, facilita el trazo haciéndolo más intuitivo.  
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            h2.mb-0.collapsable-title Línea
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-5
                            .col-12.col-md-6
                                p Permite realizar formas básicas basadas en la línea, como espirales, arcos y cuadrículas.
                            .col-12.col-md-6
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_41.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Segmento de línea]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_42.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Arco]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_43.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Espiral]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_44.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Cuadrícula rectangular]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_45.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Cuadrícula polar]
                                
            .card
                #headingFour.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                            h2.mb-0.collapsable-title Forma
                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-5
                            .col-12.col-md-6
                                p Esta herramienta sirve para crear diversas figuras como el círculo, rectángulo, elipse, etc. Con la tecla shift, logramos crear figuras que mantienen la proporción alto y ancho.
                                p.mt-3 En el caso de las herramientas polígono y estrella, podemos colocar la cantidad de lados que deseamos tenga una forma; por ejemplo, si se quiere dibujar una estrella de 9 puntas, lo primero que se debe hacer es seleccionar la herramienta estrella, luego ubicarse en la mesa de trabajo, dar clic izquierdo sobre el ratón, seguidamente se abre el siguiente cuadro en donde podemos determinar la cantidad de lados de la figura.
                                p.mt-3 Para termina haga clic en el botón OK, automáticamente el programa dibuja la forma. 
                            .col-12.col-md-6
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_46.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Rectángulo]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_47.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Rectángulo redondeado]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_48.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Elipse]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_49.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Polígono]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_50.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Estrella]
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_51.png", alt="").img-fluid
                                    .col
                                        p #[strong Herramienta Destello]
                        
            .card
                #headingFive.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                            h2.mb-0.collapsable-title Pincel
                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-5
                            .col-12.col-md-6
                                p Illustrator proporciona distintos pinceles: caligráficos, de dispersión, de arte, de motivo, y pinceles de cerdas. Con estos pinceles se pueden conseguir diversos efectos; para acceder, seleccione la herramienta pincel, en la parte superior en opciones de herramienta, despliegue la opción definición del pincel y escoja la opción deseada de las bibliotecas. 
                            .col-12.col-md-6
                                .row.justify-content-center.mt-3
                                    .col-auto 
                                        img(src="assets/images/pages/tema_1/img_52.png", alt="").img-fluid
                                    .col
                                        p #[strong Pincel]

            .card
                #headingSix.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                            h2.mb-0.collapsable-title Lápiz
                #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-3
                            .col-auto 
                                img(src="assets/images/pages/tema_1/img_53.png", alt="").img-fluid
                            .col-md-8
                                p #[strong Lápiz:] Se utiliza como un lápiz normal, el cual dibuja la línea por donde se realiza el trazo.
                        .row.justify-content-center.mt-3
                            .col-auto 
                                img(src="assets/images/pages/tema_1/img_54.png", alt="").img-fluid
                            .col-md-8
                                p #[strong Herramienta suavizar:] suaviza el dibujo realizado con el lápiz, lo vuelve armónico, y quita las imperfecciones del mismo, simplemente se pasa por encima del trazo anteriormente realizado y así se suaviza. 

        .sub-ecored.mt-5#tema1_1_4
            h3 1.1.4. Herramientas de color

            p.mt-5.text-center Illustrator presenta una gran variedad de herramientas y modos de color para utilizar y trabajar no solo el tradicional CMYK (siglas de Cyan, Magenta, Yellow y Key), que se conoce. 

            p.text-center Estos son los modos que nos facilita el programa: 

        .row.justify-content-center.mt-5 
            .col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_55.png", alt="").img-fluid
            .col-md-4 
                h2.text-center.mt-5 RGB.
                p.text-center.mt-3 Este modelo de color se crea superponiendo las luces de color rojo (1), verde (2) y azul (3). representa una amplia gama de matices de color. Cada uno de estos tres colores tiene rango de 0 a 255 que representa su intensidad.

        .row.justify-content-center.mt-5             
            .col-md-4 
                h2.text-center.mt-5 CMYK.
                p.text-center.mt-3 Este modelo de color se basa en la absorción de la tinta en el papel impreso. Trabaja con cian (1), magenta (2), amarillo (3) y negro (4), y cualquier color se obtiene a través de valores porcentuales de estos colores. Menor porcentaje equivale a colores más claros y mayor porcentaje equivale a colores más oscuros. 
            .col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_56.png", alt="").img-fluid

        .row.justify-content-center.mt-5 
            .col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_57.png", alt="").img-fluid
            .col-md-4 
                h2.text-center.mt-5 HSB.
                p.text-center.mt-3 Este modelo de color es más cercano a la percepción humana de los colores. HSB contiene tres elementos base, tono (1), saturación (2), y brillo (3). Este modelo de color puede encontrarse también como HSV que traduce Tono, Saturación y Valor, y es similar a HSB.

        .row.justify-content-center.mt-5             
            .col-md-4 
                h2.text-center.mt-5 Lab.
                p.text-center.mt-3 Este modelo de color se basa en como se ve el color, en lugar de su valor en los medios digitales. Representa el valor absoluto de color independientemente de las computadoras. El valor de color se mezcla a través de tres ejes. L (1) que significa claridad y tiene valor de 0/negro a 100/blanco, a (2) que representa los ejes del verde al rojo y b (3) que representa los ejes del azul al amarillo (Kalous, 2010).
            .col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_58.png", alt="").img-fluid

        .row.justify-content-center.mt-5 
            .col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_59.png", alt="").img-fluid
            .col-md-4 
                h2.text-center.mt-5 Escala de grises.
                p.text-center.mt-3 Este modelo utiliza la escala de grises con un brillo comprendido del 0 % de blanco, hasta el 100 % de negro.  
        
        hr.mt-5.border-color-primary

        .row.justify-content-center.mt-5
            .col-6.col-md-6 
                p.tamano_text En la parte superior izquierda en el panel opciones de herramienta, o en la barra de herramientas de la parte  inferior, encontramos la herramienta designada por 2 cuadrados, 
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_60.png", alt="").img-fluid
                p.mt-3.text-center Opciones de herramienta, parte superior izquierda

            .col-6.col-md-6
                img.img-a(src="assets/images/pages/tema_1/img_61.png", alt="").img-fluid
                p.mt-3.text-center el primero para dar color al relleno de la figura y el segundo para dar color al trazo de la forma. 
                img.mt-3.img-a(src="assets/images/pages/tema_1/img_62.png", alt="").img-fluid
                p.mt-3.text-center Barra de herramientas, parte inferior izquierda.

        p.mt-5.color_text.text-center #[strong Ejemplos l]

        .row.justify-content-center.mt-5
            .col-6.col-md-6 
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_63.png", alt="").img-fluid

            .col-6.col-md-6
                p.mt-7 #[strong a. Mostrar todas las muestras:] visualiza todas las muestras de color existentes.

                p #[strong b. Mostrar muestras de color:] muestra todos los colores, a excepción de las muestras de colores degradados y de motivo.

                p #[strong c. Mostrar muestras de degradado:] muestra los degradados existentes.

                p #[strong d. Mostrar grupos de colores:] presenta los colores en dos grupos, los grises y los brillantes.  

        .row.justify-content-center.mt-5
            .col-4.col-md-4.mt-5
                img.img-a(src="assets/images/pages/tema_1/img_64.png", alt="").img-fluid
                p.mt-3.text-center Color de relleno azul. #[br]Sin color de trazo.
            .col-4.col-md-4.mt-5
                img.img-a(src="assets/images/pages/tema_1/img_65.png", alt="").img-fluid
                p.mt-3.text-center Sin color de relleno. #[br] #[strong Color de trazo rojo.]
            .col-4.col-md-4.mt-5
                img.img-a(src="assets/images/pages/tema_1/img_66.png", alt="").img-fluid
                p.mt-3.text-center #[strong Color de relleno azul.] #[br]Color de trazo rojo.

        .row.justify-content-center
            .col-6.col-md-6
                p.mt-5.tamano_text.text-center En la barra superior del menú principal, diríjase al menú #[strong “ventana”], desde el cual puede gestionar varias herramientas: color, degradado, guía de color, muestras.

                hr.mt-5.border-color-primary

        p.mt-5.color_text.text-center #[strong Ejemplos ll]

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_67.png", alt="").img-fluid

        p.mt-5.text-center En el siguiente video aprenderá a manejar muestras de color, crear nuevos colores y gestionar paletas de colores.

        section.my-5

            a(href="https://youtu.be/lLLYZj56FNM" target="_blank")      

                img.img-a(src="assets/images/pages/tema_1/img_68.png", alt="").img-fluid

                
        .sub-ecored.mt-5#tema1_1_5 
            h3 1.1.5. Herramientas de texto 

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_69.png", alt="").img-fluid

            .row.justify-content-center.mt-5
                .col-8.col-md-8
                    hr.mt-5.border-color-primary
                    p Al utilizar la herramienta “texto” es muy importante tener en cuenta todas las variaciones en la barra de herramientas.  
            hr.border-color-primary

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_70.png", alt="").img-fluid

            p.mt-5.text-center Para utilizar la herramienta de texto, diríjase a la barra de herramientas en la parte izquierda denominada así. 

        .row.justify-content-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/tema_1/img_71.png", alt="").img-fluid
            .col-4.col-md-4
                img.img-a(src="assets/images/pages/tema_1/img_72.png", alt="").img-fluid
            .col-4.col-md-4
                p Al desplegar el menú, nos muestra todas las herramientas disponibles de texto. 
                p La herramienta texto permiten escribir en cualquier parte de la mesa de trabajo, solo hay que seleccionar la herramienta, hacer clic en la mesa de trabajo y escribir. 
        .row.justify-content-center.mt-6
            .col-auto
                img.img-a(src="assets/images/pages/tema_1/img_73.png", alt="").img-fluid
            .col-4.col-md-4
                h2 Herramienta texto de área
                p El texto se limita dentro de un área de trabajo específica. 
            .col-4.col-md-4 
                img.img-a(src="assets/images/pages/tema_1/img_74.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-6
            .col-auto
                img.img-a(src="assets/images/pages/tema_1/img_75.png", alt="").img-fluid
            .col-4.col-md-4
                h2 Herramienta texto en trazado
                p El texto toma el orden del trazado dibujado. 
            .col-4.col-md-4 
                img.img-a(src="assets/images/pages/tema_1/img_76.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-6
            .col-auto
                img.img-a(src="assets/images/pages/tema_1/img_77.png", alt="").img-fluid
            .col-4.col-md-4
                h2 Herramienta texto vertical
                p Hace que el texto se dirija esta dirección.  
            .col-4.col-md-4 
                img.img-a(src="assets/images/pages/tema_1/img_78.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-6
            .col-auto
                img.img-a(src="assets/images/pages/tema_1/img_79.png", alt="").img-fluid
            .col-4.col-md-4
                h2 Herramienta texto vertical en trazado
                p Hace que el texto fluya de manera vertical. 
            .col-4.col-md-4 
                img.img-a(src="assets/images/pages/tema_1/img_80.png", alt="").img-fluid
        hr.border-color-primary

        .row.justify-content-center.mt-6
            .col-auto
                img.img-a(src="assets/images/pages/tema_1/img_81.png", alt="").img-fluid
            .col-4.col-md-4
                h2 Herramienta texto de área vertical
                p hace que el texto contenido en una figura vertical tome esta dirección.  
            .col-4.col-md-4 
                img.img-a(src="assets/images/pages/tema_1/img_82.png", alt="").img-fluid

        .row.justify-content-center.align-items-center.mt-7
            .col-6.col-md-4 
                p.tamano_text En opciones de herramienta menú #[strong “Ventana”], abrimos la opción de texto, donde puede editar varios aspectos como el tamaño de fuente, interlineado, kerning, tracking, tipo de párrafo, etc. 
            .col-auto 
                img.img-a(src="assets/images/pages/tema_1/img_83.png", alt="").img-fluid

        .row.justify-content-center.mt-5
            .col-8.col-md-8 
                p.text-center En el siguiente video podrá reconocer las diferentes herramientas de texto y párrafo; modificar y editar texto, y generar efectos. 

        section.my-5

            a(href="https://youtu.be/HZheVkx1FPQ" target="_blank")      

                img.img-a(src="assets/images/pages/tema_1/img_84.png", alt="").img-fluid

        .sub-ecored.mt-5#tema1_1_6 
            h3 1.1.6. Herramientas de efectos 

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_85.png", alt="").img-fluid

            p.mt-5.tamano_text.line_recua.text-center Efectos de #[strong Illustrator]

        #accordionExample.accordion
            .card
                #headingSeven.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='true', aria-controls='collapseSeven')
                            h2.mb-0.collapsable-title Aplicar – girar
                #collapseSeven.collapse.show(aria-labelledby='headingSevenv', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-8.col-md-8
                                p Permite que el objeto gire en su propio eje y que surja un elemento tridimensional. 

                                             
            .card
                #headingEight.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
                            h2.mb-0.collapsable-title 3D
                #collapseEight.collapse(aria-labelledby='headingEight', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-md-8 
                                p Convierte los trazos abiertos o cerrados, o los mapas de bits, en objetos tridimensionales (3D) que se pueden rotar, iluminar y sombrear.  

                                p En esta herramienta encontramos 3 parámetros para trabajar, extrusión y biselado, girar y rotar, cada uno utilizado con una función específica.
            .card
                #headingNine.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                            h2.mb-0.collapsable-title Buscatrazos
                #collapseNine.collapse(aria-labelledby='headingNine', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-5
                            .col-8-md-8 
                                p Combina grupos, capas o subcapas en objetos editables sencillos. 
                                
            .card
                #headingTen.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTen', aria-expanded='false', aria-controls='collapseTen')
                            h2.mb-0.collapsable-title Deformar
                #collapseTen.collapse(aria-labelledby='headingTen', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-8.col-md-8
                                p Distorsiona o deforma los objetos, incluidos trazados, texto, mallas, fusiones e imágenes rasterizadas.

                        img.mt-5.img-a(src="assets/images/pages/tema_1/img_86.png", alt="").img-fluid        
                        
            .card
                #headingEleven.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEleven', aria-expanded='false', aria-controls='collapseEleven')
                            h2.mb-0.collapsable-title Distorsionar y deformar
                #collapseEleven.collapse(aria-labelledby='headingEleven', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-8.col-md-8
                                p Reforma objetos vectoriales o aplica los efectos a un relleno o un trazo añadido a un objeto de mapa de bits con el panel apariencia (Adobe, s.f.).  
                           
            .card
                #headingTwelve.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwelve', aria-expanded='false', aria-controls='collapseTwelve')
                            h2.mb-0.collapsable-title Rasterizar
                #collapseTwelve.collapse(aria-labelledby='headingTwelve', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-3
                            .col-8-md-8
                                p convierte un gráfico vectorial en una imagen de mapa de bits.

            .card
                #headingThirteen.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThirteen', aria-expanded='false', aria-controls='collapseThirteen')
                            h2.mb-0.collapsable-title Marcas de recorte
                #collapseThirteen.collapse(aria-labelledby='headingTwelve', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center.mt-3
                            .col-8-md-8
                                p.text-center Muestra marcas de recorte del objeto.
                                p.text-center.mt-3 En este menú encontrará una galería de efectos de Photoshop, los cuales se pueden trabajar desde Illustrator. 
                                img.mt-3.img-a(src="assets/images/pages/tema_1/img_93.png", alt="").img-fluid 

                       
        .row.justify-content-center.mt-5
            .col-md-6 
                p.text-center En el siguiente video aprenderá a seleccionar una forma bidimensional y convertirla en tridimensional 

        section.my-5

            a(href="https://youtu.be/I_dSK7XeAlg" target="_blank")      

                img.img-a(src="assets/images/pages/tema_1/img_87.png", alt="").img-fluid

        .row.justify-content-center.mt-5
            .col-md-6 
                p.text-center En le siguiente video aprenderá a manejar la herramienta buscatrazos para crear nuevas formas a partir de formas básicas. 

        section.my-5

            a(href="https://youtu.be/gPOnR-GNOKg" target="_blank")      

                img.img-a(src="assets/images/pages/tema_1/img_88.png", alt="").img-fluid
        

        .sub-ecored.mt-5#tema1_1_7 
            h3 1.1.7. Almacenamiento, importación y exportación

            p.mt-5.text-center Al almacenar elementos en Illustrator es importante tener en cuenta:

            .row.justify-content-center.mt-5

                .col-12.col-md-6.my-6.my-md-0
                    .card.card_color
                        .card-body.text-center

                            img.img-a(src="assets/images/pages/tema_1/img_89.png", alt="").img-fluid
                            h4.mt-3 Tipografías e imágenes
                            p En su gran mayoría cuando se trabaja textos en cualquier programa, se utilizan algunas fuentes tipográficas, es necesario llevar consigo las carpetas de dichas fuentes, ya que en muchos de los sitios de impresión es probable que no cuenten con las mismas, esto se hace para que no haya cambios imprevistos en el trabajo.  
                            p Si no se cuenta con esta posibilidad, en el menú “texto – crear contornos”, puede convertir la tipografía en trazo.

                .col-12.col-md-6.my-6.my-md-0
                    .card.card_color_1
                        .card-body.text-center

                            img.img-a(src="assets/images/pages/tema_1/img_90.png", alt="").img-fluid
                            h4.mt-3 Empaquetar archivos
                            p Función disponible en Adobe Illustrator CS6, CC y posteriores. Puede recopilar los archivos utilizados, incluidas las fuentes (a excepción del chino, coreano y japonés) y los gráficos enlazados para distribuirlos de manera más fácil. Al empaquetar un archivo, se crea una carpeta que contiene el documento de Illustrator junto con todas las fuentes necesarias, gráficos enlazados y un informe del paquete. Este informe, se guarda como un archivo de texto, e incluye información sobre los archivos empaquetados (Adobe, 2017). 

            .row.justify-content-center.mt-5

                .col-12.col-md-6.my-6.my-md-0
                    .card.card_color_2
                        .card-body.text-center

                            img.img-a(src="assets/images/pages/tema_1/img_91.png", alt="").img-fluid
                            h4.mt-3 Enlazar e incrustar
                            p se emplean los términos enlazar e incrustar, para textos como imágenes. Enlazar hace referencia a que la imagen está conectada, pero es independiente del documento; mientras que incrustar la imagen se copia en el documento a resolución completa. 

                .col-12.col-md-6.my-6.my-md-0
                    .card.card_color_3
                        .card-body

                            p Al guardar o exportar ilustraciones, Illustrator escribe los datos de la ilustración en un archivo. La estructura de los datos depende de la selección del formato de archivo. Hay cinco formatos de archivo básicos, en los que puede guardar ilustraciones (AI, PDF, EPS, FXG y SVG); estos son llamados formatos nativos, ya que permiten guardar todos los datos de Illustrator, incluidas varias mesas de trabajo. En el caso de seleccionar los formatos PDF y SVG, debe seleccionar la opción conservar capacidades de edición de Illustrator, para guardar todos los datos de Illustrator. Los formatos EPS y FXG permiten, además, guardar mesas de trabajo individuales como archivos independientes. En el formato SVG, aunque solo se guarda la mesa de trabajo activa, se exhibe el contenido de todas las mesas de trabajo.

                            p.mt-3 También es posible exportar ilustraciones en diferentes formatos de archivo para utilizarlas fuera de Illustrator. Estos formatos son llamados formatos no nativos, ya que Illustrator no podrá recuperar todos los datos si vuelve a abrir el archivo en programa. Por este motivo, es recomendable guardar las ilustraciones en formato “AI” hasta que termine de crearlas y, posteriormente, exportarlas al formato deseado.

        .row.justify-content-center.mt-5
            .col-md-6 
                p.text-center En el siguiente video aprenderá a importar y exportar elementos desde Illustrator y a enlazar e incrustar imágenes. 

        section.my-5

            a(href="https://youtu.be/6GzOsey_LuI" target="_blank")      

                img.img-a(src="assets/images/pages/tema_1/img_92.png", alt="").img-fluid     

        .header-arrow.mt-5 
            h2.text-center Para ampliar la información sobre el uso de Illustrator, se recomienda consultar la Ayuda de Adobe Illustrator CC, también disponible en el material complementario de este programa. 

        .row.justify-content-center.mt-5
            .col-6

                a(href="https://www.onlinecomputer.com.co/articulos/activos/archivos/Adobe_Illustrator_-_Manual_del_Usuario.pdf" target="_blank").media-link      

                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Ayuda de Adobe Illustrator CC]