.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Branding:	
            | hace referencia al proceso para construir y gestionar una marca, se vincula en forma directa o indirecta al nombre y/o símbolo (logotipo), que la identifican, la hacen única y competitiva.
        p
            strong.mr-2 Editorial:	
            | corresponde a un articulo que expresa la opinión sobre un tema determinado, generalmente de interés público; a través de un medio de comunicación como el periódico o la revista.
        p
            strong.mr-2 Exponencial:	
            | Relativo a crecimiento, que se incrementa cada vez más rápido. 

        p
            strong.mr-2 Interfaz de usuario:	
            | en el ámbito de la informática se conoce como el medio que le permite al usuario comunicarse con la máquina. Generalmente los programas informáticos usan una interfaz intuitiva, que facilita la navegación e interacción.

        p
            strong.mr-2 Marca:	
            | se entiende como una identificación comercial, conformada por atributos y valores que la hacen única.

        p
            strong.mr-2 Publicidad:	
            | es una forma de comunicación con el propósito de presentar, divulgar o promocionar productos o servicios.

        p
            strong.mr-2 Software vectorial:	
            | permite la creación de diseños con gran valor artístico a través de vectores, y con la ventaja que se pueden ampliar o reducir sin perder la calidad.


