.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Adobe. (2016). Ayuda de Adobe Illustrator CC.
                    td Documento PDF
                    td 
                        a(href="https://helpx.adobe.com/es/pdf/illustrator_reference.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar         

                tr
                    td Capriotti, P. (2009). Branding corporativo, fundamentos para la gestión estratégica de la identidad corporativa. 
                    td Documento PDF
                    td 
                        a(href="http://www.analisisdemedios.com/branding/BrandingCorporativo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar